<article class={"mt-20 p-[5px] relative w-max bg-purple border border-black box-shad " + Astro.props.display}>
  <div class="flex justify-between   mb-[5px] ">
    <h2 class="inline-block  font-medium">{Astro.props.title}</h2>
    <p class="font-medium text-center  border border-black text-black bg-white px-[5px]">X</p>
  </div>
  <header class="bg-vanilla border border-black  flex md:flex-row flex-col   ">
    <div class="relative">

      <img src={Astro.props.src} height={300} class={Astro.props.mwidth }/>
      
      <i class="fa-solid fa-hand-pointer fa-2xl fa-white -rotate-[20deg] vapshad absolute right-[10px] bottom-[20px]"></i>
    </div>
    
    <div class="absolute hov-img heigth-min w-[300px] h-[300px] bg-black duration-200  opacity-0 hover:opacity-100 flex justify-center items-center   border-black border ">
      
      <div class="disabled  disabled-true ">
        
        {Astro.props.urls.map((elem: {url: string, name: string}) => <a class="p-2 bg-black text-white vpshad ml-3 " href={elem.url}>{elem.name}</a>) }
      </div>
   </div>
    <div class="flex flex-col  justify-center items-center">
      
      {Astro.props.content ? <p class=" w-[250px] md:w-[400px]  p-[10px] h-min text-xl  text-black font-medium font-lucidity">{Astro.props.content}</p> : ""}
      <div class="  mx-auto  ">
        
        {Astro.props.icons ? Astro.props.icons.map((x: "")  => <i class={x + " text-black vpshad fa-3x p-5"}/>) : null }
      </div>
  </div>
  </header>
  
  
</article>
 
<style>
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    
  }
 
  .font-lucidity{
    font-family: "lucidity";
  }
  .vpshad{
		filter: drop-shadow(-2px -2px 0px var(--strong-pink)) drop-shadow(2px 2px 0px var(--lightblue))
	}
  .vapshad{
		text-shadow: -1px 0px 2px var(--strong-pink);
	}
  .box-shad{
    box-shadow: 10px 10px 2px #0004;
  }
</style>
